# Dependency files/directories
node_modules/

# Gatsby files/directories
.cache/
public

# Config files/directories
.env*

# Mac files/directories
.DS_Store

# Visual Studio Code files/directories
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
# Local History for Visual Studio Code
.history/